//Fonts
$ff-ys-text:                         'Yandex Sans Text';


//Viewport
$vp-567:                              567px;
$vp-1365:                             1365px;
$vp-1132:                             1132px;
$vp-768:                              768px;
$vp-375:                              375.5px;


//Colors
$color-bokara-grey:                   #21201f;
$color-gorse:                         #ffde40;
$color-grey:                          #808080;
$color-silver:                        #c5c5c5;
$color-blue-violet:                   #8241ef;
$color-white:                         #ffffff;


